<!--Bulma-->
<section class="hero is-dark is-medium">
  <div class="hero-body is-full">
    <div class="container" style="margin-bottom:-30px;">
      <div class="columns">
        <div class="column is-6">
          <div class="is-hidden-touch" style="height:70px;">
          </div>              
          <h1 class="is-size-1-widescreen is-size-2-touch is-size-2 font-bold">
            Hitta Kontrollansvariga
          </h1>
          <div class="column is-9 is-paddingless">
            <p class="is-size-5 is-size-9-mobile has-text-grey-white">Hitta kontrollansvariga nära dig idag. Beskriv ert projekt nedan och hitta företag med rätt expertis för just ert projekt.</p><br/>
          </div>
          <div class="column is-7 is-paddingless">
            <div class="dropdown">
              <div class="dropdown-trigger">
                <p class="is-size-6 has-text-grey-light">Typ av projekt:</p>
                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                  <span>Nybyggnation</span>
                  <span class="icon is-small">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                  </span>
                </button>
              </div>
              <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content">
                  <a class="dropdown-item">
                    Dropdown item
                  </a>
                  <a class="dropdown-item">
                    Other dropdown item
                  </a>
                  <a class="dropdown-item is-active">
                    Active dropdown item
                  </a>
                  <a class="dropdown-item">
                    Other dropdown item
                  </a>
                  <hr class="dropdown-divider">
                  <a class="dropdown-item">
                    With a divider
                  </a>
                </div>
              </div>
            </div>
          </div>             
          <br/> 
          <div class="column is-7 is-paddingless">
            <p class="is-size-6 has-text-grey-light">Adress eller postnummer:</p>          
            <div class="field has-addons">
              <div class="control">
                <input class="input" type="text" placeholder="123 45">
              </div>
              <div class="control">
                <a class="button is-info">
                  Search
                </a>
              </div>
              </div>
          </div>      
        </div>     
        <div class="column is-6">
          <figure class="image">
            <%= image_tag('maps.png', style: 'height:auto;width:90%;margin-top:50px;') %>
          </figure>
        </div>
      </div> 
    </div>
   </div>
</section>


<section class="hero is-dark is-small">
  <div class="hero-body">
    <div class="container">    
      <div class="columns is-multiline is-mobile is-marginless">
        <div class="column">
          <!--Placeholder column -->        
        </div>
        <div class="column is-three-quarters">
          <div class="column notification is-info">       
            <div class="columns">        
              <div class="column is-half" style="padding:30px; margin-left:20px;">
                <div class="column" style="height:150px;">
                  <p class="is-size-3">Kopplar ihop företag och kunder</p>
                </div> 
                <div class="column is-9">
                  <p class="is-size-6">Vill du att ditt företag skall synas här? Anslut ert företag idag!</p>
                </div> 
              </div>
              <div class="column is-half">
                <div class="column" style="height:175px;">
                </div>                
                <a class="button is-large is-success is-pulled-right" style="margin-right:50px;">Anslut företag!</a>
              </div>
            </div>
          </div>    
        </div>
          <div class="column">
            <!--Placeholder column -->
          </div>
        </div>
        <div class="columns is-multiline is-mobile is-marginless">
          <div class="column">
            <!--Placeholder column -->
          </div>
          <div class="column is-three-quarters">      
            <div class="columns">        
              <div class="column is-half">
                <div class="column notification is-white" style="padding: 35px; height: 100%; margin-right:15px">
                  <p class="is-size-4 has-text-weight-semibold">Forumlär förenklar kommunikat. mellan kund och företag.</p><br/>
                  <p class="subtitle has-text-dark">Med våra guider och tips får du som privatperson information om vad du behöver tänka på för just ditt projekt för att underlätta byggprocessen.</span>
                  <p class="has-text-info"><a href="#">Läs våra guider och tips!</a></p>              
                </div> 
              </div>
              <div class="column is-half">
                <div class="column notification is-white" style="padding: 35px; height: 100%;">
                  <p class="is-size-4 has-text-weight-semibold">Med kontrollpanelen tillför vi viktiga funktioner för dig som företagare.</p><br/>
                  <p class="subtitle has-text-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore...</p>
                  <p class="has-text-info"><a href="#">Läs mer om kontrollpanelen!</a></p>         
                </div>
              </div>
            </div>    
          </div>
          <div class="column">
            <!--Placeholder column -->
          </div>
        </div>    
      </div>  
    </div>
</section>

<footer class="footer">
<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-one-third">
        <article class="notification media has-background-white">
          <figure class="media-left">
            <span class="icon">
              <i class="has-text-warning fas fa-columns fa-lg"></i>
            </span>
          </figure>
          <div class="media-content">
            <div class="content">
              <h1 class="title is-size-4">Projekt</h1>
              <p class="is-size-5 subtitle">
                Hantera era <strong>projekt</strong> i ett enkelt gränssnitt
              </p>
            </div>
          </div>
        </article>
      </div>
      <div class="column is-one-third">
        <article class="notification has-background-white media">
          <figure class="media-left">
            <span class="icon has-text-info">
              <i class="fab fa-lg fa-wpforms"></i>
            </span>
          </figure>
          <div class="media-content">
            <div class="content">
              <h1 class="title is-size-4">Formulär</h1>
              <p class="is-size-5 subtitle">
                Färdiga <strong>formulär</strong> gjorda för att förenkla för både kund och företag.
              </p>
            </div>
          </div>
        </article>
      </div>
      <div class="column is-one-third">
        <article class="notification has-background-white media">
          <figure class="media-left">
            <span class="icon has-text-danger">
              <i class="fas fa-lg fa-cubes"></i>
            </span>
          </figure>
          <div class="media-content">
            <div class="content">
              <h1 class="title is-size-4">Kunder</h1>
              <p class="is-size-5 subtitle">
                Spara era kunddata i ett och samma gränssnitt.
              </p>
            </div>
          </div>
        </article>
      </div>
      <div class="column is-one-third">
        <article class="notification has-background-white media">
          <figure class="media-left">
            <span class="icon has-text-grey">
              <i class="fas fa-lg fa-cogs"></i>
            </span>
          </figure>
          <div class="media-content">
            <div class="content">
              <h1 class="title is-size-4">Skräddarsy</h1>
              <p class="is-size-5 subtitle">
                Enkelt att <strong>skräddarsy</strong> era egna formulär.
              </p>
            </div>
          </div>
        </article>
      </div>
      <div class="column is-one-third">
        <article class="notification has-background-white media">
          <figure class="media-left">
            <span class="icon has-text-primary">
              <i class="fas fa-lg fa-warehouse"></i>
            </span>
          </figure>
          <div class="media-content">
            <div class="content">
              <h1 class="title is-size-4">Kalender</h1>
              <p class="is-size-5 subtitle">
                Överskådlig <strong>kalender</strong> för alla skeden i projektet.
              </p>
            </div>
          </div>
        </article>
      </div>
      <div class="column is-one-third">
        <article class="notification has-background-white media">
          <figure class="media-left">
            <span class="icon has-text-danger">
              <i class="fas fa-lg fa-cube"></i>
            </span>
          </figure>
          <div class="media-content">
            <div class="content">
              <h1 class="title is-size-4">Tillgänglighet</h1>
              <p class="is-size-5 subtitle">
                Ställ in mellan vilka <strong>datum</strong> ni är redo att ta emot förfrågningar för.
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
  <hr>
  <div class="content has-text-centered">
    <p>
      Copyright 2019.
    </p>
  </div>
</footer>


















<!--
<section class="hero is-info is-medium">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
        <%= t('.about') %>
      </p>
    </div>
  </div>

  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li class="is-active">
            <a>Overview</a>
          </li>
          <li>
            <a>Modifiers</a>
          </li>
          <li>
            <a>Grid</a>
          </li>
          <li>
            <a>Elements</a>
          </li>
          <li>
            <a>Components</a>
          </li>
          <li>
            <a>Layout</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section>
-->
