<!--Bulma -->
<section class="hero is-info is-fullheight header-image">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="is-hidden-desktop" style="height:50px;">
        <!--Empty div-->
      </div>        
      <div class="is-hidden-touch" style="height:150px;">
        <!--Empty div-->
      </div>    
      <div class="column is-8 is-6-desktop is-offset-2 is-offset-3-desktop">
        <h1 class="is-size-1-widescreen is-size-2-touch is-size-2 font-bold">
          Hitta Kontrollansvariga
        </h1><br><br>
        <h2 class="subtitle">
          Hitta kontrollansvariga nära dig idag. Beskriv ert projekt nedan och hitta företag med rätt expertis för just ert projekt.    
        </h2><br><br>
        <div class="column is-12 is-10-desktop is-offset-1-desktop">
          <div class="box">
            <div class="field is-grouped has-addons">
              <div class="control is-expanded">
                <div class="select is-fullwidth">
                  <select name="projectType">
                    <option value="Nybyggnation">Nybyggnation</option>
                    <option value="Renovering">Renovering</option>
                    <option value="Utbyggnad">Utbyggnad</option>
                    <option value="Industri">Industri</option>
                  </select>
                </div>
              </div>
            </div>        
            <div class="field is-grouped">
              <p class="control is-expanded">
                <input class="input" type="text" placeholder="Adress eller postnummer">
              </p>
              <p class="control">
                <a class="button is-info">
                  Sök
                </a>
              </p>
            </div>        
          </div>
          <div class="is-hidden-mobile" style="height:200px;">
          <!--Empty div-->
          </div>           
        </div> 
      </div>
    <div class="container">    
      <div class="columns is-multiline is-desktop is-marginless">
        <div class="column">
          <!--Placeholder column -->        
        </div>
        <div class="column is-7 is-mobile is-12-touch">
          <div class="column notification is-info">       
            <div class="columns">        
                <div class="column is-6" style="padding:35px;">
                  <p class="is-size-3 is-size-4-touch">Kopplar ihop företag och kunder</p><br>
                  <p class="is-size-6">Vill du att ditt företag skall synas här? Anslut ert företag idag!</p>
                </div> 
              <div class="column is-6">
                <div class="column is-hidden-mobile" style="height:120px;">
                </div>       
                <div class="column is-12">
                  <a class="button is-large is-success is-size-5-touch">Anslut företag!</a>
                </div>                     
              </div>
            </div>
          </div>    
        </div>
          <div class="column">
            <!--Placeholder column -->
          </div>
        </div>
        <div class="columns is-multiline is-touch is-marginless">
          <div class="column">
            <!--Placeholder column -->
          </div>
          <div class="column is-7 is-mobile is-12-touch">      
            <div class="columns">        
              <div class="column is-half">
                <div class="column notification is-white" style="padding: 25px;">
                  <p class="is-size-5 has-text-weight-semibold">Forumlär förenklar kommunikat. mellan kund och företag.</p><br/>
                  <p class="is-size-6 has-text-dark">Med våra guider och tips får du som privatperson information om vad du behöver tänka på för just ditt projekt för att underlätta byggprocessen.</span><br><br>
                  <p class="has-text-info"><a href="#">Läs våra guider och tips!</a></p>              
                </div> 
              </div>
              <div class="column is-half">
                <div class="column notification is-white" style="padding: 25px;">
                  <p class="is-size-5 has-text-weight-semibold">Med kontrollpanelen tillför vi viktiga funktioner för dig som företagare.</p><br/>
                  <p class="is-size-6 has-text-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore...</p><br/>
                  <p class="has-text-info"><a href="#">Läs mer om kontrollpanelen!</a></p>         
                </div>
              </div>
            </div>    
          </div>
          <div class="column">
            <!--Placeholder column -->
          </div>
        </div>    
      </div>    
                <div class="is-hidden-mobile" style="height:200px;">
          <!--Empty div-->
          </div>           
    </div>
  </div>
</section>


<footer class="footer">
<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-one-third">
        <article class="notification media has-background-white">
          <figure class="media-left">
            <span class="icon">
              <i class="has-text-warning fas fa-columns fa-lg"></i>
            </span>
          </figure>
          <div class="media-content">
            <div class="content">
              <h1 class="title is-size-4">Projekt</h1>
              <p class="is-size-5 subtitle">
                Hantera era <strong>projekt</strong> i ett enkelt gränssnitt
              </p>
            </div>
          </div>
        </article>
      </div>
      <div class="column is-one-third">
        <article class="notification has-background-white media">
          <figure class="media-left">
            <span class="icon has-text-info">
              <i class="fab fa-lg fa-wpforms"></i>
            </span>
          </figure>
          <div class="media-content">
            <div class="content">
              <h1 class="title is-size-4">Formulär</h1>
              <p class="is-size-5 subtitle">
                Färdiga <strong>formulär</strong> gjorda för att förenkla för både kund och företag.
              </p>
            </div>
          </div>
        </article>
      </div>
      <div class="column is-one-third">
        <article class="notification has-background-white media">
          <figure class="media-left">
            <span class="icon has-text-danger">
              <i class="fas fa-lg fa-cubes"></i>
            </span>
          </figure>
          <div class="media-content">
            <div class="content">
              <h1 class="title is-size-4">Kunder</h1>
              <p class="is-size-5 subtitle">
                Spara era kunddata i ett och samma gränssnitt.
              </p>
            </div>
          </div>
        </article>
      </div>
      <div class="column is-one-third">
        <article class="notification has-background-white media">
          <figure class="media-left">
            <span class="icon has-text-grey">
              <i class="fas fa-lg fa-cogs"></i>
            </span>
          </figure>
          <div class="media-content">
            <div class="content">
              <h1 class="title is-size-4">Skräddarsy</h1>
              <p class="is-size-5 subtitle">
                Enkelt att <strong>skräddarsy</strong> era egna formulär.
              </p>
            </div>
          </div>
        </article>
      </div>
      <div class="column is-one-third">
        <article class="notification has-background-white media">
          <figure class="media-left">
            <span class="icon has-text-primary">
              <i class="fas fa-lg fa-warehouse"></i>
            </span>
          </figure>
          <div class="media-content">
            <div class="content">
              <h1 class="title is-size-4">Kalender</h1>
              <p class="is-size-5 subtitle">
                Överskådlig <strong>kalender</strong> för alla skeden i projektet.
              </p>
            </div>
          </div>
        </article>
      </div>
      <div class="column is-one-third">
        <article class="notification has-background-white media">
          <figure class="media-left">
            <span class="icon has-text-danger">
              <i class="fas fa-lg fa-cube"></i>
            </span>
          </figure>
          <div class="media-content">
            <div class="content">
              <h1 class="title is-size-4">Tillgänglighet</h1>
              <p class="is-size-5 subtitle">
                Ställ in mellan vilka <strong>datum</strong> ni är redo att ta emot förfrågningar för.
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
  <hr>
  <div class="content has-text-centered">
    <p>
      Copyright 2019.
    </p>
  </div>
</footer>






