<section class="hero is-dark is-medium">
  <div class="hero-body is-full">
    <div class="container" style="margin-bottom:-30px;">
      <div class="columns">
        <div class="column is-6 is-paddingless">
          <div style="height:70px;">
          </div>              
          <h1 class="text-5xl font-bold">
            Hitta Kontrollansvariga
          </h1>
          <div class="column is-9 is-paddingless">
            <p class="is-size-5 has-text-grey-white">Hitta kontrollansvariga nära dig idag. Beskriv ert projekt nedan och hitta företag med rätt expertis för just ert projekt.</p><br/>
          </div>
          <div class="column is-7 is-paddingless">
            <div class="dropdown">
              <div class="dropdown-trigger">
              <p class="is-size-6 has-text-grey-light">Typ av projekt:</p>
                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                  <span>Nybyggnation</span>
                  <span class="icon is-small">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                  </span>
                </button>
              </div>
              <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content">
                  <a class="dropdown-item">
                    Dropdown item
                  </a>
                  <a class="dropdown-item">
                    Other dropdown item
                  </a>
                  <a class="dropdown-item is-active">
                    Active dropdown item
                  </a>
                  <a class="dropdown-item">
                    Other dropdown item
                  </a>
                  <hr class="dropdown-divider">
                  <a class="dropdown-item">
                    With a divider
                  </a>
                </div>
              </div>
            </div>
          </div>             
          <br/> 
          <div class="column is-7 is-paddingless">
            <p class="is-size-6 has-text-grey-light">Adress eller postnummer:</p>          
            <p class="control is-dark has-icons-left">
              <input class="input" type="text" placeholder="Search">
              <span class="icon is-small is-left">
                <i class="fas fa-search" aria-hidden="true"></i>
              </span>
            </p>
          </div>      
        </div>     
        <div class="column is-8">
          <figure class="image">
            <%= image_tag('maps.png', style: 'height:auto;width:90%;') %>
          </figure>
        </div>
      </div> 
    </div>
   </div>
</section>


<section class="hero is-dark is-small">
  <div class="hero-body">
    <div class="container">    
      <div class="columns is-multiline is-mobile is-marginless">
        <div class="column">
          <!--Placeholder column -->        
        </div>
        <div class="column is-three-quarters">
          <div class="column notification is-info">       
            <div class="columns">        
              <div class="column is-half" style="padding:30px; margin-left:20px;">
                <div class="column" style="height:150px;">
                  <p class="is-size-3">Kopplar ihop företag och kunder</p>
                </div> 
                <div class="column is-9">
                  <p class="is-size-6">Vill du att ditt företag skall synas här? Anslut ert företag idag!</p>
                </div> 
              </div>
              <div class="column is-half">
                <div class="column" style="height:175px;">
                </div>                
                <a class="button is-large is-success is-pulled-right" style="margin-right:50px;">Anslut företag!</a>
              </div>
            </div>
          </div>    
        </div>
          <div class="column">
            <!--Placeholder column -->
          </div>
        </div>
        <div class="columns is-multiline is-mobile is-marginless">
          <div class="column">
            <!--Placeholder column -->
          </div>
          <div class="column is-three-quarters">      
            <div class="columns">        
              <div class="column is-half">
                <div class="column notification is-white" style="padding: 35px; height: 100%; margin-right:15px">
                  <p class="is-size-4 has-text-weight-semibold">Forumlär förenklar kommunikat. mellan kund och företag.</p><br/>
                  <p class="subtitle has-text-dark">Med våra guider och tips får du som privatperson information om vad du behöver tänka på för just ditt projekt för att underlätta byggprocessen.</span>
                  <p class="has-text-info"><a href="#">Läs våra guider och tips!</a></p>              
                </div> 
              </div>
              <div class="column is-half">
                <div class="column notification is-white" style="padding: 35px; height: 100%;">
                  <p class="is-size-4 has-text-weight-semibold">Med kontrollpanelen tillför vi viktiga funktioner för dig som företagare.</p><br/>
                  <p class="subtitle has-text-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore...</p>
                  <p class="has-text-info"><a href="#">Läs mer om kontrollpanelen!</a></p>         
                </div>
              </div>
            </div>    
          </div>
          <div class="column">
            <!--Placeholder column -->
          </div>
        </div>    
      </div>  
    </div>
</section>      