<!--Bulma -->
<section class="hero is-info is-medium">
  <div class="hero-body">
    <div class="container has-text-centered">
      <p class="title">
        <%= t('.ka-title') %>
      </p>
      <p class="subtitle">
        <%= t('.ka-subtitle') %>
        <%= t('.ka-subtitle2') %>
      </p>                
    </div>
  </div>

  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullhd is-centered">
      <div class="container">
        <ul>
          <li class="is-active">
            <a><%= t('.general') %></a>
          </li>
          <li>
            <a>Att tänka på</a>
          </li>
          <li>
            <a>Förbereda</a>
          </li>
          <li>
            <a>Elements</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section>

<div class="container">
    <div class="columns">
        <div class="column border">

        </div>  
    </div>  
</div>  