<!--Bulma-->
<section class="hero is-dark is-small">
  <div class="hero-body is-full">
    <div class="container is-fluid" style="margin-top:50px;">
      <div class="columns is-mobile is-centered">
        <div class="columns is-half is-centered">
          <div class="column">
            <h1 class="text-3xl font-bold">
              Sök Kontrollansvariga
            </h1>
            <p class="is-size-6 has-text-grey-light">Adress eller postnummer:</p>          
            <div class="field has-addons">
              <div class="control">
                <input class="input" type="text" placeholder="123 45">
              </div>
              <div class="control">
                <a class="button is-info">
                  Search
                </a>
              </div>
            </div>        
          </div>  
        </div>
      </div>   
      <div class="columns" style="margin-top:50px;">   
        <div class="column is-4 is-paddingless border">  
          <div class="box">
          </div> 
        </div>     
        <div class="column is-8 border">
        </div>
      </div> 
    </div>
  </div>
</section>
