<h1 class="title is-1">

<% content_for(:sidemenu) do %>
  <%= render('panel', active: :index) %>
  <%= render('shortcuts', active: @status) %>
<% end %>

<div class="columns">
  <div class="column">
    <nav class="level is-mobile">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Aktiva projekt</p>
      <p class="title">63</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Avslutade projekt i år</p>
      <p class="title">123</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Totalt antal projekt</p>
      <p class="title">1201</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Loggade timmar</p>
      <p class="title">789</p>
    </div>
  </div>
</nav>

  </div>
</div>
