<h1 class="title is-1"><%= t('.title') %></h1>

<% content_for(:sidemenu) do %>
  <%= render('panel', active: :index, customer: @customer) %>
<% end %>

<div class="columns">
  <div class="column">
    <%= render('/searches/form', target: :customer) %>
    <%= render('table', customers: @customers) %>
  </div>
</div>
