<h2 class="subtitle is-3"><%= t('.title') %></h2>

<div class="columns">
  <div class="column is-one-quarter">
    <%= render('panel', active: :index, customer: @customer) %>
  </div>


  <div class="column">
    <%= render('/searches/form', target: :project) %>
    <%= render('table', customers: @customers) %>
  </div>
</div>
