<% content_for(:sidemenu) do %>
  <%= render('panel', active: :new) %>
<% end %>

<div class="w-full -mt-4">
  	<h1 class="title is-3"><%= t('.title') %><i class="ml-2 far fa-sm fa-id-card"></i></h1>
	<%= render('form', customer: @customer) %>  
</div>

