<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      <%= t('.title') %>
    </p>
    <%= link_to(fa_icon('image'), '#', class: 'card-header-icon') %>
  </header>
  <div class="card-image">
    <figure class="image is-4by3">
      <%= image_tag('ka.svg') %>
    </figure>
  </div>

  <div class="card-content">
    <div class="media">
      <div class="media-content">
        Images
      </div>
    </div>
  </div>
</div>
