<% content_for(:sidemenu) do %>
  <%= render('panel', active: :new) %>
<% end %>

<div class="w-full -mt-4">
	<h1 class="title is-3"><%= t('.title') %>  <i class="ml-2 far fa-sm fa-folder-open"></i></h1>
	<%= render('form', project: @project) %>  
</div>
