.aside {
  background: $primary-background;
  padding: 2rem 1rem 1rem 1.5rem;

  &.is-fullheight {
    min-height: 100vh;
  }

  .menu-list {
    a {
      &:hover {
        background-color: $primary;
        color: $white;
      }
    }

    p {
      border-radius: 2px;
      color: #4a4a4a;
      display: block;
      padding: .5em .75em;

      &.is-active {
        background-color: $primary;
        color: $white;
      }
    }
  }
}

.navbar-menu {
  box-shadow: none;

  .navbar-item {
    &.is-tab {
      border-bottom: 1px solid transparent;
      border-top: 1px solid transparent;
      padding-bottom: calc(.75rem - 1px);
      padding-left: 1rem;
      padding-right: 1rem;

      &:hover {
        background-color: transparent;
        border-bottom-color: $primary;
        border-top-color: transparent;
      }

      &.is-active {
        border-bottom: 3px solid $primary;
        color: $primary;
        padding-bottom: calc(.75rem - 3px);
      }
    }

    &.is-active {
      background-color: transparent;
    }
  }
}
