<% if flash.any? %>
  <div class="notifications">
    <% user_facing_flashes.each do |key, value| -%>
      <div class="notification is-<%= bulma_notification(key) %>">
        <button class="delete"></button>
        <%= value %>
      </div>
    <% end -%>
  </div>
  <%= javascript_pack_tag('notifications') %>
<% end %>
