<h1 class=title><%= t('.title') %></h1>

<div class="columns">
  <div class="column is-one-quarter">
    <%= render('panel', active: :edit) %>
  </div>

  <div class="column">
    <%= render('form', inspection: @inspection) %>
  </div>
</div>
