<h1 class=title><%= t('.title') %></h1>

<div class="columns">
  <div class="column is-one-quarter">
    <%= render('projects/panel', active: :edit_inspection, project: @project) %>
  </div>

  <div class="column">
    <%= render('form', inspection: @inspection, project: @project) %>
  </div>
</div>
