<div class="article-layout__hero">
  <h1>Inspections#index</h1>
  <p>Find me in app/views/inspections/index.html.erb</p>

</div>
<div class="article-layout__sidebar">
  <h1>Hello</h1>
</div>

<div class="article-layout__main">
  <h1>Hello</h1>
</div>
