<h1 class=title><%= t('.title') %></h1>

<div class="columns">
  <div class="column is-one-quarter">
    <%= render('panel', active: :index) %>
  </div>
  <div class="column">
    <table class="table is-striped">
      <thead>
        <tr>
          <td> Hello </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> Heyo! </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
